In [75]:
import pandas as pd

In [76]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [82]:
html_content = pd.read_html(url, header = 0)
df = html_content[0]

# Checking whether Borough is Not assigned in the dataframe

In [84]:
df[(df.Borough == 'Not assigned')]

    Postal code       Borough Neighborhood
0           M1A  Not assigned          NaN
1           M2A  Not assigned          NaN
7           M8A  Not assigned          NaN
10          M2B  Not assigned          NaN
15          M7B  Not assigned          NaN
16          M8B  Not assigned          NaN
19          M2C  Not assigned          NaN
24          M7C  Not assigned          NaN
25          M8C  Not assigned          NaN
28          M2E  Not assigned          NaN
29          M3E  Not assigned          NaN
33          M7E  Not assigned          NaN
34          M8E  Not assigned          NaN
35          M9E  Not assigned          NaN
37          M2G  Not assigned          NaN
38          M3G  Not assigned          NaN
42          M7G  Not assigned          NaN
43          M8G  Not assigned          NaN
44          M9G  Not assigned          NaN
51          M7H  Not assigned          NaN
52          M8H  Not assigned          NaN
53          M9H  Not assigned          NaN
60          M7J  Not assigned          NaN
61          M8J  Not assigned          NaN
62          M9J  Not assigned          NaN
69          M7K  Not assigned          NaN
70          M8K  Not assigned          NaN
71          M9K  Not assigned          NaN
78          M7L  Not assigned          NaN
79          M8L  Not assigned          NaN
..          ...           ...          ...
132         M7T  Not assigned          NaN
133         M8T  Not assigned          NaN
134         M9T  Not assigned          NaN
136         M2V  Not assigned          NaN
137         M3V  Not assigned          NaN
140         M6V  Not assigned          NaN
141         M7V  Not assigned          NaN
145         M2W  Not assigned          NaN
146         M3W  Not assigned          NaN
149         M6W  Not assigned          NaN
150         M7W  Not assigned          NaN
154         M2X  Not assigned          NaN
155         M3X  Not assigned          NaN
158         M6X  Not assigned          NaN
159         M7X  Not assigned          NaN
161         M9X  Not assigned          NaN
162         M1Y  Not assigned          NaN
163         M2Y  Not assigned          NaN
164         M3Y  Not assigned          NaN
166         M5Y  Not assigned          NaN
167         M6Y  Not assigned          NaN
170         M9Y  Not assigned          NaN
171         M1Z  Not assigned          NaN
172         M2Z  Not assigned          NaN
173         M3Z  Not assigned          NaN
174         M4Z  Not assigned          NaN
175         M5Z  Not assigned          NaN
176         M6Z  Not assigned          NaN
177         M7Z  Not assigned          NaN
179         M9Z  Not assigned          NaN

[77 rows x 3 columns]

In [85]:
# Remove dataframw where Borough is not assigned

In [86]:
df = df[(df.Borough != 'Not assigned')]

In [87]:
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

# Group the Neighborhoo which has same postal code and borough

In [88]:
temp_value=df.groupby(['Postal code','Borough'])['Neighborhood'].transform(lambda x:','.join(x))

In [90]:
df.loc[:,'Neighborhood']=temp_value.copy(deep=True)

In [91]:
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [92]:
df = df.drop_duplicates()
df.reset_index(drop = True, inplace=True)

In [93]:
df.head(10)

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
5         M9A         Etobicoke                              Islington Avenue
6         M1B       Scarborough                               Malvern / Rouge
7         M3B        North York                                     Don Mills
8         M4B         East York              Parkview Hill / Woodbine Gardens
9         M5B  Downtown Toronto                      Garden District, Ryerson

# Assign neighborhood as borough if nwighborhood is not assigned

In [94]:
df.Neighborhood[df['Neighborhood']=='Not assigned'] = df.Borough[df['Neighborhood']=='Not assigned']

In [95]:
def replace_string(str):
    return str.replace('/',',')

In [96]:
df.Neighborhood=df.Neighborhood.map(replace_string)

In [97]:
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [99]:
df.shape

(103, 3)

In [100]:
df.to_csv('toronto_neighborhood.csv',index=False)